.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  width: 1100px;
  padding-bottom: 96px;
  padding-top: 110px;
  padding-left: 50px;
  padding-right: 50px;
}

.menu {
  display: block;
  font-size: 20px;
}

.header__logo {
  display: block;
  background-image: url(../images/logo-black.svg);
  background-repeat: no-repeat;
  width: 129.11196899414062px;
  height: 104.6517562866211px;
  top: 1.16px;
  left: 9.03px;
}
.header__links-list {
  list-style-type: circle;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  gap: 24px;
}

.header__links-list-item {
  font-family: "Raleway", "Arial", "Helvetica", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  min-width: max-content;
}

.header__link_active {
  text-decoration: none;
}

.header__links-list-item_no-bullit {
  list-style-type: none;
}

.address {
  font-style: normal;
  font-weight: 400;
  font-family: "Raleway", "Arial", "Helvetica", sans-serif;

  justify-self: end;
  display: grid;
  grid-template-rows: auto auto auto;
  row-gap: 5px; /* Отступы между строками */
  align-items: start;

  font-size: 18px;
  line-height: 24.3px;
  overflow-wrap: break-word;
  white-space: normal;
  width: 230px;
}

/* начало cover*/

.cover {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 1100px;
  min-height: 757px;
  background-image: url(../images/cover.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 165px;
  padding-left: 50px;
}

.cover__title {
  color: rgb(255, 255, 255);
  font-family: "Raleway", "Arial", "Helvetica", sans-serif;
  font-weight: 700;
  font-size: 100px;
  line-height: 1.34;
  text-transform: uppercase;
  z-index: 2;
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
}

.cover__title span {
  display: block;
}

.aligned-text {
  position: relative;
}

.aligned-text_left {
  text-align: left;
}

.aligned-text_center {
  text-align: center;
  margin-right: -30px;
}

.aligned-text_right {
  text-align: right;
  margin-right: -30px;
}

.letter-spacing-extended {
  letter-spacing: 30px;
  text-transform: uppercase;
}

.no-letter-spacing {
  letter-spacing: normal;
}

.cover__description {
  display: flex;
  align-items: baseline;
  justify-content: space-evenly;
  padding: 0px 50px 55px 78px;
  gap: 79px;
  z-index: 2;
  margin-top: auto;
  margin-bottom: 0;
}

.cover__description-text {
  color: rgb(255, 255, 255);
  font-size: 22px;
  font-weight: 400;
  line-height: 28px;
  text-transform: uppercase;
  word-spacing: 15px;
}

.bet-button {
  /* кнопка */
  width: 256px;
  background-color: transparent;
  color: white;
  border: 1px solid rgba(255, 255, 255, 1);
  font-size: 22px;
  text-transform: uppercase;
  font-weight: 500;
  text-align: center;
  height: 51px;
  font-family: Raleway, sans-serif;
}

.overlay {
  /* полупрозрачный фон*/
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

/*начало Лот*/

.lots__heading {
  padding-top: 179px;
  padding-bottom: 26px;
  padding-left: 64px;
  color: #000;
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
}

.container_lots {
  display: flex;
  flex-wrap: nowrap;
  gap: 35px;
  justify-content: flex-start;
  padding: 0;
  margin: 0 auto;
  margin-left: 20px;
  overflow-x: auto;
}

.lots-list {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  display: contents;
}

.lots-list__item {
  max-width: 334px;
  min-height: 596px;
  flex: 0 0 auto;
}

.card-link {
  text-decoration: none;
  color: inherit;
  display: block;
  height: 100%;
}

.card {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  z-index: 1;
  padding: 51px 40px 48px;
  justify-content: space-between;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(./../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(./../images/card-lot-03.jpg);
}

.card__title {
  color: white;
  font-size: 22px;
  font-weight: 700;
  line-height: 120%;
  text-decoration-line: underline;
  text-transform: uppercase;
  z-index: 1;
}

.card__text {
  color: white;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  z-index: 1;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.lots__look-more-link {
  display: block;
  text-underline-offset: 3px;
  padding-top: 30px;
  color: rgb(0, 0, 0);
  font-size: 20px;
  font-weight: 400;
  line-height: 23.48px;
  margin-left: 64px;
}

/*Начало about*/

.about {
  margin-top: 120px;
}

.container__about {
  display: grid;
  grid-template-columns: 334px repeat(1, 1fr);
  gap: 25px;
  padding: 34px 24px 0px;
}

.about__logo {
  justify-self: center;
  background-color: #000;
  border-radius: 50%;
  width: 240px;
  height: 240px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about__logo-image {
  width: 148px;
  height: 114px;
}

.about__content {
  display: flex;
  flex-direction: column;
  gap: 100px;
  padding-top: 100px;
}

.about__title {
  text-transform: uppercase;
  color: black;
  font-size: 40px;
  font-weight: 700;
  line-height: 46.96px;
}

.about__text {
  align-self: flex-start;
  font-family: "Raleway", "Arial", "Helvetica", sans-serif;
  color: black;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  display: flex;
  flex-direction: column;
  gap: 23px;
}

/*начало footer*/

.footer {
  display: grid;
  grid-template-columns: auto 1fr auto;
  padding: 180px 50px 88px;
  gap: 140px;
  align-items: flex-start;
}
.footer-address {
  font-family: "Raleway", "Arial", "Helvetica", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24.3px;
  overflow-wrap: break-word;
  white-space: normal;
  width: 230px;
}

.footer__menu {
  padding-left: 35px;
}

.footer__menu-list {
  list-style-type: none;
  text-underline-offset: 3px;
}

.footer__menu-link {
  text-decoration: underline;
}

.link-active {
  text-decoration: none;
}

.img {
  width: 48px;
  height: 48px;
}

.footer__social-list {
  display: flex;
  gap: 48px;
  list-style-type: none;
}
